@import "tailwindcss";

@theme {
  --font-plus-jakarta: var(--font-plus-jakarta-sans);

  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: #0c0c0c;
  font-family: var(--font-plus-jakarta), sans-serif;
  margin: 0;
  padding: 0;
}
